<ul class="dropdown-menu"
    [ngClass]="{'dropdown-menu-visible': data.visible}">
    <li *ngFor="let item of data; index as i"
        [ngClass]="{'dropdown-item': item.type==='ITEM' || item.type==='MORE', 'dropdown-divider': item.type==='DIVIDER', 'dropdown-submenu': item.type==='SUBMENU'}">
        <a *ngIf="item.type!=='DIVIDER'"
           [ngClass]="{'dropdown-item': item.type==='SUBMENU'}"
           href="#" tabindex="-1"
           (click)="item.type==='ITEM' && openSoftware(i) || item.type==='SUBMENU' && openSubmenu(i, $event)">{{item.name}}</a>
        <app-submenu *ngIf="item.type==='SUBMENU'" [data]="item.items" (closing)="onClose()"></app-submenu>
    </li>
</ul>
