<div class="about margin-all">
    <h2><img src="assets/images/icon-64.png" style="vertical-align: middle; margin-right: 16px;"> <span>{{title}} - TI-99/4A emulator</span></h2>
    <mat-divider></mat-divider>
    <h3>Version</h3>
    <p>{{version}} - {{date}}.</p>
    <h3>Previous version</h3>
    <p>The previous major version is still available at <a href="http://old.js99er.net">old.js99er.net</a>.</p>
    <mat-divider></mat-divider>
    <h3>The TI-99/4A</h3>
    <p>The TI-99/4A is a home computer from 1981. It features a TMS9900 CPU running at 3 MHz, a TMS9918A video display processor with 16K RAM,
        a real keyboard, a cartridge slot, and a cassette tape interface.</p>
    <p>The firmware and BASIC interpreter are contained in 8K ROM and 18K GROM, but only 256 bytes of RAM are available to the CPU, so the vacant video RAM is
        used for storing BASIC programs. Most commercial software was provided on ROM/GROM cartridges.</p>
    <p>The TI-99/4A can be expanded in numerous ways, and in this emulator a 32K expansion RAM and 3 floppy drives are available by default.</p>
    <mat-divider></mat-divider>
    <h3>Source code</h3>
    <p>{{title}} is written in TypeScript using the Angular framework with Angular Material for the UI.</p>
    <p>The source code is available at <a target="_blank" href="https://github.com/Rasmus-M/js99er-angular">GitHub</a>.</p>
    <mat-divider></mat-divider>
    <h3>Feedback</h3>
    <p>If you have comments or questions, please write to <a href="mailto:contact@js99er.net">contact&#64;js99er.net</a>.</p>
</div>
