
.custom-control-label::before,
.custom-control-label::after {
    /* Vertical alignment */
    top: .4rem;
    /* Size */
    width: 1.25rem;
    height: 1.25rem;
    /* Moves checkboxes a bit to the right */
    margin-left: -4px;
}

