<fieldset>
    <div class="custom-control form-control-lg custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="enableSound" id="enableSound"
               [ngModel]="enableSound" (ngModelChange)="onEnableSoundChanged($event)">
        <label class="custom-control-label" for="enableSound">Sound enabled</label>
    </div>
    <div class="custom-control form-control-lg custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="enableSpeech" id="enableSpeech"
               [ngModel]="enableSpeech" (ngModelChange)="onEnableSpeechChanged($event)">
        <label class="custom-control-label" for="enableSpeech">Speech enabled</label>
    </div>
    <div class="custom-control form-control-lg custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="enableSpeech" id="enable32KRAM"
               [ngModel]="enable32KRAM" (ngModelChange)="onEnable32KRAMChanged($event)">
        <label class="custom-control-label" for="enable32KRAM">32K RAM</label>
    </div>
    <div class="custom-control form-control-lg custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="enableAMS" id="enableAMS"
               [ngModel]="enableAMS" (ngModelChange)="onEnableAMSChanged($event)">
        <label class="custom-control-label" for="enableAMS">SAMS</label>
    </div>
    <div class="custom-control form-control-lg custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="enableSpeech" id="enableGRAM"
               [ngModel]="enableGRAM" (ngModelChange)="onEnableGRAMChanged($event)">
        <label class="custom-control-label" for="enableGRAM">GRAM</label>
    </div>
    <div class="custom-control form-control-lg custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="enableF18A" id="enableF18A"
               [ngModel]="enableF18A" (ngModelChange)="onEnableF18AChanged($event)">
        <label class="custom-control-label" for="enableF18A">F18A</label>
    </div>
    <div class="custom-control form-control-lg custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="enableFlicker" id="enableFlicker"
               [ngModel]="enableFlicker" (ngModelChange)="onEnableFlickerChanged($event)">
        <label class="custom-control-label" for="enableFlicker">4 sprites per line limitation</label>
    </div>
    <div class="custom-control form-control-lg custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="enablePCKeyboard" id="enablePCKeyboard"
               [ngModel]="enablePCKeyboard" (ngModelChange)="onEnablePCKeyboardChanged($event)">
        <label class="custom-control-label" for="enablePCKeyboard">PC keyboard</label>
    </div>
    <div class="custom-control form-control-lg custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="enableMapArrawKeys" id="enableMapArrowKeys"
               [ngModel]="enableMapArrowKeys" (ngModelChange)="onEnableMapArrowKeysChanged($event)">
        <label class="custom-control-label" for="enableMapArrowKeys">Map arrow keys to Fctn+SDEX</label>
    </div>
    <div class="custom-control form-control-lg custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="enableGoogleDrive" id="enableGoogleDrive"
               [ngModel]="enableGoogleDrive" (ngModelChange)="onEnableGoogleDriveChanged($event)">
        <label class="custom-control-label" for="enableGoogleDrive">Google drives (GDR1, GDR2, GDR3)</label>
    </div>
    <div class="custom-control form-control-lg custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="enablePixelated" id="enablePixelated"
               [ngModel]="enablePixelated" (ngModelChange)="onEnablePixelatedChanged($event)">
        <label class="custom-control-label" for="enablePixelated">Pixelated image (if supported by browser)</label>
    </div>
</fieldset>

