<div class="settings">
    <mat-form-field class="setting">
        <mat-label>RAM expansion</mat-label>
        <mat-select [(ngModel)]="ramExpansion" (ngModelChange)="onRAMExpansionChanged($event)">
            <mat-option [value]="'none'">No RAM expansion</mat-option>
            <mat-option [value]="'32K'">32K RAM expansion</mat-option>
            <mat-option [value]="'sams'">1M SAMS expansion</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="checkbox-setting">
        <mat-checkbox label="" [ngModel]="enableGRAM" (ngModelChange)="onEnableGRAMChanged($event)">GRAM enabled</mat-checkbox>
    </div>
    <div class="checkbox-setting">
        <mat-checkbox label="" [ngModel]="enableSound" (ngModelChange)="onEnableSoundChanged($event)">Sound enabled</mat-checkbox>
    </div>
    <div class="checkbox-setting">
        <mat-checkbox label="" [ngModel]="enableSpeech" (ngModelChange)="onEnableSpeechChanged($event)">Speech enabled</mat-checkbox>
    </div>
    <div class="checkbox-setting">
        <mat-checkbox label="" [ngModel]="enableF18A" (ngModelChange)="onEnableF18AChanged($event)">F18A enabled</mat-checkbox>
    </div>
    <div class="checkbox-setting">
        <mat-checkbox label="" [ngModel]="enablePCKeyboard" (ngModelChange)="onEnablePCKeyboardChanged($event)">PC keyboard enabled</mat-checkbox>
    </div>
    <div class="checkbox-setting">
        <mat-checkbox label="" [ngModel]="enableMapArrowKeys" (ngModelChange)="onEnableMapArrowKeysChanged($event)">Map arrow keys to Fctn+SDEX enabled</mat-checkbox>
    </div>
    <div class="checkbox-setting">
        <mat-checkbox label="" [ngModel]="enableGoogleDrive" (ngModelChange)="onEnableGoogleDriveChanged($event)">Google drives (GDR1, GDR2, GDR3) enabled</mat-checkbox>
    </div>
    <mat-form-field class="setting">
        <mat-label>TIPI emulation</mat-label>
        <mat-select [(ngModel)]="tipiEmulation" (ngModelChange)="onTIPIEmulationChanged($event)">
            <mat-option [value]="'none'">No TIPI emulation</mat-option>
            <mat-option [value]="'mouse'">Mouse only</mat-option>
            <mat-option [value]="'full'">Full TIPI emulation</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="setting" *ngIf="tipiEmulation == 'full'">
        <mat-label>RPi emulator, e.g. QEMU</mat-label>
        <input matInput placeholder="Websocket URI" [ngModel]="tipiWebsocketURI" (ngModelChange)="onTIPIWebsocketURIChanged($event)" [ngModelOptions]="{updateOn: 'blur'}" (focus)="onTextFocus()" (blur)="onTextBlur()">
    </mat-form-field>
    <div class="checkbox-setting">
        <mat-checkbox label="" [ngModel]="enablePixelated" (ngModelChange)="onEnablePixelatedChanged($event)">Pixelated image enabled (if supported by browser)</mat-checkbox>
    </div>
    <div class="checkbox-setting">
        <mat-checkbox label="" [ngModel]="enablePauseOnFocusLost" (ngModelChange)="onEnablePauseOnFocusLostChanged($event)">Pause when window loses focus</mat-checkbox>
    </div>
    <div class="checkbox-setting">
        <mat-checkbox label="" [ngModel]="enableDebugReset" (ngModelChange)="onEnableDebugResetChanged($event)">Debug reset enabled (fill RAM with random values)</mat-checkbox>
    </div>
    <div class="checkbox-setting">
        <mat-checkbox label="" [ngModel]="enableH264Codec" (ngModelChange)="onEnableH264CodecChanged($event)">High quality video recording enabled</mat-checkbox>
    </div>
</div>

