<div class="disk">
    <div class="disk-selects">
        <mat-form-field>
            <mat-select placeholder="Drive" [value]="driveIndex" (selectionChange)="onDriveIndexChanged($event.value)">
                <mat-option *ngFor="let diskDrive of diskDrives; index as i" [value]="i"><fa-icon [icon]="driveIcon"></fa-icon> {{diskDrive.getName()}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Image" [value]="diskImageIndex" (selectionChange)="onDiskImageChanged($event.value)">
                <mat-option [value]="-1"><fa-icon [icon]="emptyIcon"></fa-icon> None</mat-option>
                <mat-option *ngFor="let diskImage of diskImages; index as i" [value]="i"><fa-icon [icon]="diskIcon"></fa-icon> {{diskImage.getName()}} {{diskImageDrives[i]}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="files-table">
        <table mat-table [dataSource]="diskFiles" class="mat-elevation-z1">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let file">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(file) : null"
                                  [checked]="selection.isSelected(file)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="fileName">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let file"> {{file.getName()}} </td>
            </ng-container>
            <ng-container matColumnDef="fileType">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let file"> {{file.getFileTypeLabel()}} </td>
            </ng-container>
            <ng-container matColumnDef="dataType">
                <th mat-header-cell *matHeaderCellDef> Data Type </th>
                <td mat-cell *matCellDef="let file"> {{file.getDataTypeLabel()}} </td>
            </ng-container>
            <ng-container matColumnDef="recordType">
                <th mat-header-cell *matHeaderCellDef> Record Type </th>
                <td mat-cell *matCellDef="let file"> {{file.getRecordTypeLabel()}} </td>
            </ng-container>
            <ng-container matColumnDef="recordLength">
                <th mat-header-cell *matHeaderCellDef> Record Length </th>
                <td mat-cell *matCellDef="let file"> {{file.getRecordLength()}} </td>
            </ng-container>
            <ng-container matColumnDef="fileSize">
                <th mat-header-cell *matHeaderCellDef> Size </th>
                <td mat-cell *matCellDef="let file"> {{file.getSectorCount()}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-toolbar class="disk-toolbar">
        <button mat-raised-button (click)="addDisk()"><fa-icon [icon]="addDiskIcon"></fa-icon> New Disk</button>
        <button mat-raised-button color="primary" (click)="insertDisk()"><fa-icon [icon]="insertDiskIcon"></fa-icon> Insert Disk</button>
        <span class="margin-right"></span>
        <button mat-raised-button color="warn" (click)="deleteDisk()"><fa-icon [icon]="deleteIcon"></fa-icon> Delete Disk</button>
        <button mat-raised-button color="warn" (click)="deleteFiles()"><fa-icon [icon]="deleteIcon"></fa-icon> Delete Files</button>
        <span class="margin-right"></span>
        <button mat-raised-button color="primary" (click)="saveDisk()"><fa-icon [icon]="saveDiskIcon"></fa-icon> Save DSK</button>
    </mat-toolbar>
</div>
