<button mat-raised-button class="toolbar-button" color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="menuData"><fa-icon [icon]="menuIcon" matTooltip="Software"></fa-icon><span class="button-text"> Software...</span></button>
<mat-menu #menu="matMenu" yPosition="above" >
  <ng-template matMenuContent let-items="items">
    @for (item of items; track item) {
      @if (item.type==='ITEM') {
        <button mat-menu-item (click)="openSoftware(item.url, item.diskUrl)">{{item.name}}</button>
      }
      @if (item.type==='DIVIDER') {
        <mat-divider></mat-divider>
      }
      @if (item.type==='SUBMENU') {
        <button mat-menu-item [matMenuTriggerFor]="subMenu" [matMenuTriggerData]="item">{{item.name}}</button>
        <mat-menu #subMenu="matMenu">
          <ng-template matMenuContent let-items="items">
            @for (item of items; track item) {
              @if (item.type==='ITEM') {
                <button mat-menu-item (click)="openSoftware(item.url, item.diskUrl)">{{item.name}}</button>
              }
              @if (item.type==='DIVIDER') {
                <mat-divider></mat-divider>
              }
            }
          </ng-template>
        </mat-menu>
      }
      @if (item.type==='MORE') {
        <button mat-menu-item (click)="openMoreDialog()">{{item.name}}</button>
      }
    }
  </ng-template>
</mat-menu>
