<button mat-raised-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="menuData"><fa-icon [icon]="faBars"></fa-icon> Software...</button>
<mat-menu #menu="matMenu" yPosition="above" >
    <ng-template matMenuContent let-items="items">
        <ng-container *ngFor="let item of items">
            <button *ngIf="item.type==='ITEM'" mat-menu-item (click)="openSoftware(item.url)">{{item.name}}</button>
            <mat-divider *ngIf="item.type==='DIVIDER'"></mat-divider>
            <ng-container *ngIf="item.type==='SUBMENU'">
                <button mat-menu-item [matMenuTriggerFor]="subMenu" [matMenuTriggerData]="item">{{item.name}}</button>
                <mat-menu #subMenu="matMenu">
                    <ng-template matMenuContent let-items="items">
                        <ng-container *ngFor="let item of items">
                            <button *ngIf="item.type==='ITEM'" mat-menu-item (click)="openSoftware(item.url)">{{item.name}}</button>
                            <mat-divider *ngIf="item.type==='DIVIDER'"></mat-divider>
                        </ng-container>
                    </ng-template>
                </mat-menu>
            </ng-container>
            <button *ngIf="item.type==='MORE'" mat-menu-item (click)="openMoreDialog()">{{item.name}}</button>
        </ng-container>
    </ng-template>
</mat-menu>
