hex-input-field {
    display: inline-block;
    width: 45%;
    padding-right: 8px;
}

mat-divider {
    margin-top: 8px;
    margin-bottom: 12px;
}

.row {
}

.delete-button {
}

.add-button {
    margin-top: 8px;
}

