.toolbar {
    height: auto;
    min-height: 64px;
    flex-wrap: wrap;
    row-gap: 8px;
    padding: 14px;
}

@media all and (display-mode: fullscreen) {
    .toolbar {
        display: none;
    }
}
