.toolbar {
    height: auto;
    min-height: 64px;
    flex-wrap: wrap;
    row-gap: 8px;
    padding: 12px;
}

@media all and (display-mode: fullscreen) {
    .toolbar {
        display: none;
    }
}

@media all and (max-width: 1535px) {
    .button-text {
        display: none;
    }
}

@media all and (max-width: 1090px) {
    .toolbar-button {
        min-width: 52px;
    }
}
