.console {
    grid-area: console;
}

.side-panel {
    grid-area: side_panel;
    overflow-x: hidden;
    overflow-y: auto;
    /*
    display: flex;
    flex-direction: column;
    flex: 1; */
}

.main-controls {
    grid-area: main_controls;
}


.app {
    display: grid;
    --consoleHeight: calc(100vh - 64px);
    grid-template-columns: calc(var(--consoleHeight) * 4 / 3) 1fr;
    grid-template-rows: var(--consoleHeight) 1fr;
    grid-template-areas: "console side_panel"
                         "main_controls main_controls";
}
