<div class="graphics">
    <div class="panels">
        <mat-accordion>
            <mat-expansion-panel (opened)="setTileCanvasTopVisible(true)" (closed)="setTileCanvasTopVisible(false)" [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tile patterns
                    </mat-panel-title>
                    <mat-panel-description>
                        Top third
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <canvas id="tile-canvas-top"></canvas>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="setTileCanvasMiddleVisible(true)" (closed)="setTileCanvasMiddleVisible(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tile patterns
                    </mat-panel-title>
                    <mat-panel-description>
                        Middle third
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <canvas id="tile-canvas-middle"></canvas>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="setTileCanvasBottomVisible(true)" (closed)="setTileCanvasBottomVisible(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tile patterns
                    </mat-panel-title>
                    <mat-panel-description>
                        Bottom third
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <canvas id="tile-canvas-bottom"></canvas>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-expansion-panel (opened)="setSpriteCanvasVisible(true)" (closed)="setSpriteCanvasVisible(false)" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Sprite patterns
                </mat-panel-title>
            </mat-expansion-panel-header>
            <canvas id="sprite-canvas"></canvas>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Palette
                </mat-panel-title>
            </mat-expansion-panel-header>
            <canvas id="palette-canvas"></canvas>
        </mat-expansion-panel>
    </div>
    <mat-toolbar class="toolbar">
        <button mat-raised-button color="primary" (click)="dumpRAM()"><fa-icon [icon]="dumpRAMIcon"></fa-icon> Dump VDP RAM</button>
    </mat-toolbar>
</div>
