<mat-accordion>
    <mat-expansion-panel (opened)="tileCanvasTopVisible=true" (closed)="tileCanvasTopVisible=false" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tile patterns
            </mat-panel-title>
            <mat-panel-description>
                Top
            </mat-panel-description>
        </mat-expansion-panel-header>
        <canvas id="tile-canvas-top"></canvas>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="tileCanvasMiddleVisible=true" (closed)="tileCanvasMiddleVisible=false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tile patterns
            </mat-panel-title>
            <mat-panel-description>
                Middle
            </mat-panel-description>
        </mat-expansion-panel-header>
        <canvas id="tile-canvas-middle"></canvas>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="tileCanvasBottomVisible=true" (closed)="tileCanvasBottomVisible=false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tile patterns
            </mat-panel-title>
            <mat-panel-description>
                Bottom
            </mat-panel-description>
        </mat-expansion-panel-header>
        <canvas id="tile-canvas-bottom"></canvas>
    </mat-expansion-panel>
</mat-accordion>

<mat-expansion-panel (opened)="spriteCanvasVisible=true" (closed)="spriteCanvasVisible=false" [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Sprite pattern
        </mat-panel-title>
    </mat-expansion-panel-header>
    <canvas id="sprite-canvas"></canvas>
</mat-expansion-panel>
