<mat-card>
    <mat-card-header>
        <mat-card-title>Status</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <pre id="status">{{statusString}}</pre>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Memory View</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <pre id="memory">{{memoryViewText}}</pre>
    </mat-card-content>
</mat-card>

<form>
    <mat-form-field>
        <mat-select placeholder="Memory View" [(value)]="memoryView">
            <mat-option [value]="0">Disassembly</mat-option>
            <mat-option [value]="1">Hex view</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Memory Type" [(value)]="memoryType">
            <mat-option [value]="0">CPU Memory</mat-option>
            <mat-option [value]="1">VDP Memory</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Address" maxlength="5" [ngModel]="debuggerAddress" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="onDebuggerAddressChanged($event)" (focus)="onTextFocus()" name="debuggerAddress">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Breakpoint" maxlength="5" [ngModel]="breakpointAddress" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="onBreakpointAddressChanged($event)" (focus)="onTextFocus()" name="breakpointAddress">
    </mat-form-field>
</form>
