.status {
    width: 100%;
    margin: 0;
    padding: 0 0 4px 0;
    grid-area: status;
}

.status a {
    color: #888888;
    cursor: pointer;
}

.memory-view {
    width: 100%;
    margin: 0;
    padding: 0 0 4px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-area: 3 / 1 / 4 / 3;
}

.memory-view-1 {
    width: 100%;
    margin: 0;
    padding: 0 0 4px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-area: memory-view-1;
}

.memory-view-2 {
    width: 100%;
    margin: 0;
    padding: 0 0 4px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-area: memory-view-2;
}

.debugger-toolbar {
    grid-area: toolbar;
}

.memory-select {
    width: 20%;
    padding-right: 8px;
}

.debugger {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "status status"
        "toolbar toolbar"
        "memory-view-1 memory-view-2";
    grid-row-gap: 8px;
    grid-column-gap: 16px;
}

hex-input-field {
    padding-right: 8px;
    display: inline-flex;
    vertical-align: top;
    width: 20%;
}


