<div>
    <img src="assets/images/strip.jpg" id="strip">
    <img src="assets/images/keyboard.jpg" usemap="#keyboardMap" name="Keyboard" id="keyboard" alt="TI-99/4A keyboard" border="0">
    <map name="keyboardMap">
        <area shape="RECT" coords="3, 1, 39, 37" alt="1" id="key1" (click)="virtualKeyPress(49)">
        <area shape="RECT" coords="45, 1, 81, 37" alt="2" id="key2" (click)="virtualKeyPress(50)">
        <area shape="RECT" coords="88, 1, 124, 37" alt="3" id="key3" (click)="virtualKeyPress(51)">
        <area shape="RECT" coords="131, 1, 167, 37" alt="4" id="key4" (click)="virtualKeyPress(52)">
        <area shape="RECT" coords="174, 1, 210, 37" alt="5" id="key5" (click)="virtualKeyPress(53)">
        <area shape="RECT" coords="218, 1, 254, 37" alt="6" id="key6" (click)="virtualKeyPress(54)">
        <area shape="RECT" coords="258, 1, 294, 37" alt="7" id="key7" (click)="virtualKeyPress(55)">
        <area shape="RECT" coords="301, 1, 337, 37" alt="8" id="key8" (click)="virtualKeyPress(56)">
        <area shape="RECT" coords="344, 1, 380, 37" alt="9" id="key9" (click)="virtualKeyPress(57)">
        <area shape="RECT" coords="387, 1, 423, 37" alt="0" id="key0" (click)="virtualKeyPress(48)">
        <area shape="RECT" coords="430, 1, 466, 37" alt="= or +" id="keyEquals" (click)="virtualKeyPress(187)">
        <area shape="RECT" coords="24, 43, 60, 79" alt="Q" id="keyQ" (click)="virtualKeyPress(81)">
        <area shape="RECT" coords="67, 43, 103, 79" alt="W" id="keyW" (click)="virtualKeyPress(87)">
        <area shape="RECT" coords="109, 43, 145, 79" alt="E" id="keyE" (click)="virtualKeyPress(69)">
        <area shape="RECT" coords="152, 43, 188, 79" alt="R" id="keyR" (click)="virtualKeyPress(82)">
        <area shape="RECT" coords="195, 42, 231, 78" alt="T" id="keyT" (click)="virtualKeyPress(84)">
        <area shape="RECT" coords="237, 42, 273, 78" alt="Y" id="keyY" (click)="virtualKeyPress(89)">
        <area shape="RECT" coords="281, 43, 317, 79" alt="U" id="keyU" (click)="virtualKeyPress(85)">
        <area shape="RECT" coords="321, 43, 357, 79" alt="I" id="keyI" (click)="virtualKeyPress(73)">
        <area shape="RECT" coords="366, 42, 402, 78" alt="O" id="keyO" (click)="virtualKeyPress(79)">
        <area shape="RECT" coords="408, 42, 444, 78" alt="P" id="keyP" (click)="virtualKeyPress(80)">
        <area shape="RECT" coords="450, 42, 486, 78" alt="/ or -" id="keyDiv" (click)="virtualKeyPress(189)">
        <area shape="RECT" coords="34, 86, 70, 122" alt="A" id="keyA" (click)="virtualKeyPress(65)">
        <area shape="RECT" coords="77, 86, 113, 122" alt="S" id="keyS" (click)="virtualKeyPress(83)">
        <area shape="RECT" coords="120, 86, 156, 122" alt="D" id="keyD" (click)="virtualKeyPress(68)">
        <area shape="RECT" coords="162, 86, 198, 122" alt="F" id="keyF" (click)="virtualKeyPress(70)">
        <area shape="RECT" coords="204, 86, 240, 122" alt="G" id="keyG" (click)="virtualKeyPress(71)">
        <area shape="RECT" coords="249, 86, 285, 122" alt="H"  id="keyH" (click)="virtualKeyPress(72)">
        <area shape="RECT" coords="291, 85, 327, 121" alt="J" id="keyJ" (click)="virtualKeyPress(74)">
        <area shape="RECT" coords="334, 85, 370, 121" alt="K" id="keyK" (click)="virtualKeyPress(75)">
        <area shape="RECT" coords="376, 85, 412, 121" alt="L" id="keyL" (click)="virtualKeyPress(76)">
        <area shape="RECT" coords="419, 85, 455, 121" alt="; or :" id="keySemicolon" (click)="virtualKeyPress(186)">
        <area shape="RECT" coords="460, 85, 496, 121" alt="Enter" id="keyEnter" (click)="virtualKeyPress(13)">
        <area shape="RECT" coords="13, 128, 49, 164" alt="Left shift" id="keyLShift" (click)="virtualKeyPress(16)">
        <area shape="RECT" coords="56, 129, 92, 165" alt="Z" id="keyZ" (click)="virtualKeyPress(90)">
        <area shape="RECT" coords="99, 129, 135, 165" alt="X" id="keyX" (click)="virtualKeyPress(88)">
        <area shape="RECT" coords="142, 129, 178, 165" alt="C" id="keyC" (click)="virtualKeyPress(67)">
        <area shape="RECT" coords="185, 129, 221, 165" alt="V" id="keyV" (click)="virtualKeyPress(86)">
        <area shape="RECT" coords="228, 129, 264, 165" alt="B" id="keyB" (click)="virtualKeyPress(66)">
        <area shape="RECT" coords="269, 130, 305, 166" alt="N" id="keyN" (click)="virtualKeyPress(78)">
        <area shape="RECT" coords="312, 129, 348, 165" alt="M" id="keyM" (click)="virtualKeyPress(77)">
        <area shape="RECT" coords="354, 130, 390, 166" alt=", or <" id="keyComma" (click)="virtualKeyPress(188)">
        <area shape="RECT" coords="398, 129, 434, 165" alt="> or ." id="keyFullStop" (click)="virtualKeyPress(190)">
        <area shape="RECT" coords="441, 129, 498, 164" alt="Right shift" id="keyRShift" (click)="virtualKeyPress(16)">
        <area shape="RECT" coords="14, 170, 50, 206" alt="Alpha lock" id="keyAlpha" (click)="virtualKeyPress(20)">
        <area shape="RECT" coords="56, 171, 92, 207" alt="Ctrl" id="keyCtrl" (click)="virtualKeyPress(17)">
        <area shape="RECT" coords="97, 169, 434, 207" alt="Space"  id="keySpace" (click)="virtualKeyPress(32)">
        <area shape="RECT" coords="441, 171, 477, 207" alt="Fctn" id="keyFctn" (click)="virtualKeyPress(18)">
    </map>
</div>
