.tab-content {
    margin: 0;
    padding: 16px 0 0;
    height: calc(100% - 16px);
    overflow: hidden;
}

.console-wrapper {
    grid-area: console;
}

/*.console {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.hide-side-panel .console {
     justify-self: center;
}

.side-panel {
    grid-area: side_panel;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-controls {
    grid-area: main_controls;
}

.hide-main-controls .main-controls {
    display: none;
}

@media (min-aspect-ratio: 14/9) {
    .app {
        display: grid;
        --consoleHeight: calc(100vh - 80px);
        --consoleWidth: calc(var(--consoleHeight) * 4 / 3);
        grid-template-columns: var(--consoleWidth) 1fr;
        grid-template-rows: var(--consoleHeight) 1fr;
        grid-template-areas:
            "console side_panel"
            "main_controls main_controls";
        grid-row-gap: 8px;
        grid-column-gap: 8px;
    }

    .app.hide-side-panel {
        grid-template-columns: 0.5fr var(--consoleWidth) 0.5fr;
        grid-template-areas:
            ". console ."
            "main_controls main_controls main_controls";
    }
}

@media (min-aspect-ratio: 11/9) and (max-aspect-ratio: 14/9) {
    .app {
        display: grid;
        --consoleHeight: calc(100vh - 80px);
        --consoleWidth: calc(var(--consoleHeight) * 4 / 3);
        grid-template-columns: 1fr;
        grid-template-rows: var(--consoleHeight) auto 600px;
        grid-template-areas:
            "console"
            "main_controls"
            "side_panel";
        grid-row-gap: 8px;
    }

    .app.hide-side-panel {
        grid-template-rows: var(--consoleHeight) auto;
        grid-template-columns: 0.5fr var(--consoleWidth) 0.5fr;
        grid-template-areas:
            ". console ."
            "main_controls main_controls main_controls";
    }
}

@media (max-aspect-ratio: 11/9) {
    .app {
        display: grid;
        --consoleWidth: calc(100vw - 20px);
        --consoleHeight: calc(var(--consoleWidth) * 3 / 4);
        grid-template-columns: 1fr;
        grid-template-rows: var(--consoleHeight) auto 600px;
        grid-template-areas:
            "console"
            "main_controls"
            "side_panel";
        grid-row-gap: 8px;
    }

    .app.hide-side-panel {
        grid-template-rows: var(--consoleHeight) auto;
        grid-template-areas:
            "console"
            "main_controls";
    }
}

@media all and (display-mode: fullscreen) {
    .side-panel {
        display: none;
    }

    .tab-content {
        padding: 0;
    }
}

@media (min-aspect-ratio: 1/1) and (display-mode: fullscreen) {
    .app {
        display: grid;
        --consoleHeight: 100vh;
        --consoleWidth: calc(var(--consoleHeight) * 4 / 3);
        grid-template-columns: 0.5fr var(--consoleWidth) 0.5fr;
        grid-template-rows: var(--consoleHeight);
        grid-template-areas:
            ". console .";
        grid-row-gap: 0;
        grid-column-gap: 0;
        overflow-y: hidden;
    }
}

@media (max-aspect-ratio: 1/1) and (display-mode: fullscreen) {
    .app {
        display: grid;
        --consoleWidth: 100vw;
        --consoleHeight: calc(var(--consoleWidth) * 3 / 4);
        grid-template-columns: 0.5fr var(--consoleWidth) 0.5fr;
        grid-template-rows: var(--consoleHeight);
        grid-template-areas:
            ". console .";
        grid-row-gap: 0;
        grid-column-gap: 0;
        overflow-y: hidden;
    }
}

@media all and (max-width: 1535px) {
    .button-text {
        display: none;
    }
}

@media all and (max-width: 1090px) {
    .toolbar-button {
        min-width: 0;
    }
}
