/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    overflow-y: auto;
    overflow-x: hidden;
}

mat-tab-group, .mat-tab-body-wrapper, mat-tab {
    height: 100%;
    overflow: hidden;
}

.mat-tab-labels .mat-tab-label {
    min-width: auto;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.margin-right {
    margin-right: 8px;
}

.margin-all {
    margin: 16px;
}

.full-width {
    width: 100%;
}

:root {
    --mat-select-trigger-text-size: 14px;
    --mat-form-field-container-text-size: 14px;
    --mat-option-label-text-size: 14px;
    --mat-form-field-subscript-text-size: 11px;
    --mat-form-field-filled-label-text-size: 13px;
    --mat-button-protected-label-text-tracking: 0;
}

.mat-mdc-tab-header {
    --mat-tab-label-text-tracking: 0;
}
