<div class="navbar navbar-default">
    <div class="btn-group">
        <button class="btn btn-success navbar-btn" (click)="start()" [disabled]="running"><fa name="play"></fa> Start</button>
        <button class="btn btn-default navbar-btn" (click)="fast()" [disabled]="running"><fa name="forward"></fa> Fast</button>
        <button class="btn btn-default navbar-btn" (click)="frame()" [disabled]="running"><fa name="fast-forward"></fa> Frame</button>
        <button class="btn btn-default navbar-btn" (click)="step()" [disabled]="running"><fa name="step-forward"></fa> Step</button>
        <button class="btn btn-warning navbar-btn" (click)="pause()" [disabled]="!running"><fa name="pause"></fa> Pause</button>
        <button class="btn btn-danger navbar-btn" (click)="reset()"><fa name="refresh"></fa> Reset</button>
    </div>
    <div class="btn-group">
        <div class="btn btn-primary navbar-btn btn-file"><fa name="credit-card"></fa> Open Cartridge<input type="file" #fileInputModule (change)="openModule(fileInputModule.files)"></div>
    </div>
    <div class="btn-group">
        <div class="btn btn-primary navbar-btn btn-file"><fa name="floppy-o"></fa> Open Disk/File<input type="file" #fileInputDisk multiple="multiple" (change)="openDisk(fileInputDisk.files)"></div>
        <select class="selectpicker navbar-btn" data-width="100px" [(ngModel)]="driveIndex" title="Drive">
            <option data-icon="fa-hdd-o" [ngValue]="0" selected>DSK1</option>
            <option data-icon="fa-hdd-o" [ngValue]="1">DSK2</option>
            <option data-icon="fa-hdd-o" [ngValue]="2">DSK3</option>
        </select>
    </div>
    <div class="btn-group">
        <app-menu [structure]="menu"></app-menu>
    </div>
</div>
